.mainBlock{
  border: 2px solid red;
  width: 410px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}
img{
  width: 250px;
  height: 250px;
}
.parentBlock{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}